<a href="https://colab.research.google.com/github/Dineshkaushik21csu276ncuindia/Reinforcement_learning/blob/main/python_brushup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
X = 3
print(X , type(X))
print(X)
print(X+1)
print(X-1)
print(X*2)
print(X**2)

3 <class 'int'>
3
4
2
6
9

In [ ]:
f = False
t = True
print(type(t))
print(t or f)
print(t and f)

<class 'bool'>
True
False

In [ ]:
X =  "hello" +  " " + "world"
print(X)

hello world

In [ ]:
hw12 = '{} {} {}'.format ('hello','world',12)
print(hw12)

hello world 12

In [ ]:
R = "hello"
print(R.capitalize())
print(R.upper())

Hello
HELLO

In [ ]:
nums  = list(range(10))
print(nums)
print(nums[2:4])
print(nums[2:])
print(nums[:2])
print(nums[:])
print(nums[:-1])
nums[2:4] = nums[8:10]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3]
[2, 3, 4, 5, 6, 7, 8, 9]
[0, 1]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 8, 9, 4, 5, 6, 7, 8, 9]

In [ ]:
animals = ['cat' , 'Dog' , 'monkey']
for animal in animals :
  print(animal)

cat
Dog
monkey

In [ ]:
num =  list(range(50))
square = []
for x in num:
  square.append(x**2)
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]

In [ ]:
num =  list(range(100))
Squares = [x**2 for x in num]
print(Squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [ ]:
import numpy as np
a = np.array({1,2,3,4,5})
print(type(a))

<class 'numpy.ndarray'>